<!DOCTYPE css>

* {
  font-family: sans-serif;
  font-size: 14px;
  background-color: aliceblue
}

h1
{
  font-size: 30px;
  font-weight: 500;
  text-decoration: underline;
}

p
{
  font-family: Helvetica;
  font-size: 12px;
  color: darkslategrey;
  margin: auto;
}

.footer
{
  font-family: fantasy;
  color: darkslategrey;
  font-size: 10px;
  margin: 10px;
  padding: 3px;
}

img
{
  width: 500px;
  height: 400px;
  border-radius: 25px;
  border: 2px solid;
}

.navigation
{
  word-spacing: 70px;
  background-color: #94BBFE;
  padding: .5px;
  outline: 3px #000000;
  font: impact;
  font-size: 12px;
  width: 500px;
  margin: auto;
}

.tables
{
  outline: 5px;
  width: 500px;
  margin: auto;
}

.page
{
  background-color: #BFC1FA
}

#list1
{
  color: #005555;
  outline: red;
  font-style: italic;
  font: Arial;
  font-size: 18px;
  font-weight:400;
  text-decoration: underline overline;
}

#list2
{
  color: #000055;
  outline: green;
  font-style: italic;
  font: Arial;
  font-size: 18px;
  font-weight:400;
  text-decoration: underline overline;
}

#list3
{
  color: #550000;
  outline: darkblue;
  font-style: italic;
  font: Arial;
  font-size: 18px;
  font-weight:400;
  text-decoration: underline overline;
}

#list-home
{
  color: black;
  outline: black;
  font-style: bold;
  font: Sans;
  font-size: 20px;
  font-weight:400;
  text-decoration: underline;
}

a:hover
{
  background-color: yellow;
}

a[href*="baseballreference"]
{
  color: cyan;
}

a[href*="mlb"]
{
  color: darkblue;
}

a[href*="ucvts"]
{
  color: red;
}

html + body
{
  font: inherit;
}

body + h1
{
  font-size: 32px;
}

div + p
{
  font-weight: 300;
}

p*="Justus Sheffield":hover
{
  background-color: green;
}

p*="Estevan Florial":hover
{
  background-color: blue;
}

p*="Jonathan Loaisiga":hover
{
  background-color: red;
}
