<!DOCTYPE css>

html
{
  font-family: sans-serif;
  font-size: 14px;
}

h1
{
  font-size: 30px;
  font-weight: bold;
  text-decoration: underline;
}

p
{
  font-family: Helvetica;
  font-size: 12px;
  background-color: #EBEBEB;
  color: darkslategrey
}

.footer
{
  font-family: fantasy;
  color: darkslategrey;
  font-size: 10px;
}
